body{
		background: url(../img/bg.ipg.jpeg);
		background-size: cover;
}



/* Layout */
.ba-container{
	max-width: 100%;
	padding: 20px 0 20px;
}

.ba-board {
	width: 50vw;
	height: 50vw;
	border: 20px solid #fff;
	background: #fff;
	margin: auto;
}

.ba-desk {
    margin: auto;
    width: 100%;
	height: 100%;
	border: 2px solid #bda587;
}

.ba-dark {
	width: 100%;
	height: 50%;
}

.ba-white {
	width: 100%;
	height: 50%;
}

.ba-row {
	height: 25%;
	width: 100%;

}

.ba-cell {
	float: left;
	width: 12.5%;
	background: #B1AEB0;
	padding: 5px;
	height: 100%;

}


.ba-cell:nth-child(2n) {
	background: #FFF;
}

.ba-row:nth-child(odd) {
	background: #FFF;
}
.ba-row:nth-child(even) .ba-cell:nth-child(odd) {
	background: #fff;
}
.ba-row:nth-child(even) .ba-cell:nth-child(even) {
	background: #76101B;
}
.ba-row:nth-child(odd) .ba-cell:nth-child(odd) {
	background: #76101B;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
